@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .table {
        @apply w-full border-separate border-spacing-y-1;

        th {
            @apply p-3 py-6 bg-[#181E29] first:rounded-tl-md last:rounded-tr-md text-left;
        }

        td {
            @apply p-3 bg-[#181E29]/70 min-w-[140px] max-w-[400px] whitespace-nowrap text-ellipsis overflow-hidden;
        }
    }
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-inter), Helvetica, sans-serif;
}
